<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
  <link href="path/to/output.css" rel="stylesheet">
  <link rel="stylesheet" data-th-href=" @{'/css/output.css'}">
  <title data-th-replace="${title}">SCM2</title>

</head>

<body>
 
  <!-- Header -->
  <div th:replace="fragments/navbar :: navbar"></div>


  <section data-th-replace="${content}">

  </section>


  <script src="../path/to/flowbite/dist/flowbite.min.js">

    <th:block data-th-replace="~{script}"></th:block>
  </script>

</body>

</html>